body {
    margin:0;
}
.navbar{
    height: 100px;
    background-color: #333;
    color:whitesmoke;
    text-align: center;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    height:300px;
    padding:20px;
    background-color: thistle;
}

.footer{
    text-align: center;
    padding-top: 20px;
    font-size:20px;
}

.todo-item{
    display:flex;
    justify-content: center;
    border-bottom:tomato 1px solid;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 20px 0;
    align-items: center;
}