/* App-last project */
.header{
    display:flex;
    align-items:center;
    border-bottom: 2px solid gray;
    background-color: #f4f4f4;
    padding-left:20px;
    padding-right:20px
}

.headerLink{
    list-style:none;
    display:flex;
    align-items:center;
}

.mainContent{
    padding:10px;
}


/* the other files */
.main-box{
    text-align: center;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.todo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: gray 1px solid;
}

.todo-box * {
    margin-left:10px;
}